body {
    background-color: aliceblue;
}

.center {
    text-align: center;
}

.description {
    width: 600px;
    border: 2px solid white;
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 20px;
}

.ingredients {
    border: 2px solid white;
    margin: 10px;
    padding: 20px;
}

.instructions {
    border: 2px solid white;
    margin: 10px;
    padding: 20px;
}

.return {
font-size: 25px;
font-family: Georgia, 'Times New Roman', Times, serif;
text-align: center;
color: white;
background-color: cadetblue;
padding: 10px;
margin-bottom: 25px;
margin-top: 25px;
}    